.navbar {
    background: #2d4059;
    color: rgb(255, 255, 255);
    font-family: 'Hammersmith One', sans-serif;
}

.navbar-nav li {
    text-indent: 17px;
    line-height: 33px;
  }
.navbar-nav li a {
      text-align: right;
      display: block;
      text-decoration: none;
      color: rgb(255, 255, 255);
}
    
.navbar-nav li a:hover {
    text-decoration: none;
    color: #2d4059;
    background: #ffb400;
}

