
body {
    overflow-x: hidden;
    background-image: url("https://c1.staticflickr.com/7/6058/6351225420_c3fde2657d_o.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }